*.core
*~
*.swp
*.swo
.lock-wscript
/sn.txt
/test-inflight.js
/test.js
/test2.js
/v8.log
build
ldap.node
.project
.settings

tests/cn=config.ldif
tests/cn=config/
tests/openldap-data/
tests/slapd.args
tests/slapd.pid